.footer {
  background: linear-gradient(270.7deg, #44403f 0.4%, #211f20 100%);
  padding: 0 20px;
}

.footer .footer__container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 30px 0;
}

.footer .footer__container .logo__block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer .footer__container .logo__block h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.15em;
  color: #ffffff;
}

.footer .footer__container .logo__block span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #cfcfcf;
}

.footer .footer__container .logo__block a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #ffffff;
}

.footer .footer__container .nav__footer ul {
  display: flex;
  padding: 0;
  gap: 20px;
}

.footer .footer__container .nav__footer ul li a {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

@media all and (max-width: 1240px) {
  .footer .footer__container {
    width: 100%;
  }
}

@media all and (max-width: 1010px) {
  .footer .footer__container {
    gap: 10px;
  }
}

@media all and (max-width: 940px) {
  .footer .footer__container {
    justify-content: space-evenly;
  }

  .footer .footer__container .nav__footer ul {
    flex-direction: column;
    gap: 10px;
  }
}