.products .products__title {
  padding: 50px 20px;
}

.products .products__title h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  display: inline-block;
  position: relative;
}

.products .products__title h2::before {
  content: "";
  position: absolute;
  height: 33px;
  width: 4px;
  background-color: #618967;
  left: -20px;
}

.products .products__list {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}

@media all and (max-width: 1240px) {
  .products .products__list {
    max-width: 97%;
    margin: 0 auto;
  }
}

@media all and (max-width: 1100px) {
  .products .products__title {
    padding: 50px 40px;
  }
}