.contacts {
  padding-top: 70px;
  padding-left: 110px;
  padding-bottom: 40px;
  background-image: url("@img/images/Rectangle 245.png");

  @media all and (max-width: 800px) {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__card {
    width: 526px;
    height: 405px;
    border-radius: 15px;
    background: rgba(46, 43, 44, 1);
    padding: 25px 42px;

    &__title {
      font-weight: bold;
      font-size: 30px;
      line-height: 36px;
      text-transform: uppercase;
      color: #fff;
      //   border-bottom: 1px solid #fff;
      padding-bottom: 26px;
    }

    &__info {
      padding-top: 15px;
      padding-left: 40px;
      //   border-bottom: 1px solid #fff;
      .card__info {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #cfcfcf;
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        position: relative;

        svg {
          position: absolute;
          top: 10px;
          left: -30px;
        }
        p {
          font-size: 20px;
          color: #fff;
        }

        a {
          font-size: 20px;
          font-weight: 500;
          color: #fff;
          text-decoration: none;
        }
      }
    }

    .contacts__social {
      padding-top: 17px;

      .btn__order {
        display: flex;
        gap: 33px;
        button {
          width: 210px;
          height: 60px;
          box-sizing: border-box;
          background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
          outline: none;
          border-radius: 15px;
          border: none;
          font-weight: bold;
          font-size: 13px;
          line-height: 16px;
          color: #fff;
        }

        .oreder__number {
          display: flex;
          flex-direction: column;
          color: #cfcfcf;
          font-size: 16px;
          .number {
            font-style: normal;
            font-weight: bold;
            font-size: 23px;
            line-height: 28px;
            color: #fff;
          }
        }
      }
      .social__items {
        color: #fff;
        display: flex;
        align-items: flex-end;
        padding-top: 20px;
        justify-content: center;

        span {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          margin-right: 20px;
        }
      }
    }
  }
}

.bottom__line {
  width: 100%;
  height: 1px;
  //   position: relative;
  //   left: -70px;
  //   right: -100px;
  display: inline-block;
  //   background: rgb(133, 125, 125);
  background: rgb(139, 139, 139);
  background: rgb(59, 58, 58);
  background: linear-gradient(
    90deg,
    rgba(59, 58, 58, 1) 0%,
    rgba(200, 196, 196, 1) 24%,
    rgba(203, 207, 207, 1) 79%,
    rgba(59, 58, 58, 1) 100%
  );
  //   background-color: #fff;
}
