$color: rgba(207, 207, 207, 1);
$bgc: #618967;
.header {
  padding: 24px 20px;

  @media all and (max-width: 780px) {
    padding-bottom: 10px;
  }

  .header__container {
    max-width: 1270px;
    margin: 0 auto;
    .header__row {
      display: flex;
      align-items: center;
      gap: 72px;
      position: relative;
      box-sizing: border-box;

      @media all and (max-width: 1150px) {
        gap: 10px;
      }

      @media all and (max-width: 780px) {
        flex-direction: column;
      }

      .header__logo {
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 25px;
        color: #fff;
        // color: $color;
        letter-spacing: 0.15em;
        @media all and (max-width: 780px) {
          height: 52px;
        }
      }
      .header__location {
        width: 555px;
        height: 52px;
        border-radius: 10px;
        background-color: #504b4a;
        position: relative;

        @media all and (max-width: 1100px) {
          width: 430px;
        }

        @media all and (max-width: 950px) {
          width: 400px;
        }

        @media all and (max-width: 780px) {
          width: 90%;
        }

        .location__icon {
          position: absolute;
          top: 16px;
          bottom: 16px;
          left: 18px;
        }
        input {
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
          border-radius: 10px;
          background-color: inherit;
          padding-left: 48px;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 21px;
          color: #fff;
          box-sizing: border-box;
          &::placeholder {
            color: $color;
          }
        }
        .search__icon {
          position: absolute;
          right: 20px;
          top: 15px;
        }
      }
      .header__contact {
        // width: 136px;
        display: flex;
        flex-direction: column;

        @media all and (max-width: 1150px) {
          margin-left: 50px;
        }

        @media all and (max-width: 920px) {
          display: none;
        }

        span {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 20px;
          color: #cfcfcf;
        }
        .contact__number {
          font-size: 16px;
          font-weight: 700;
          line-height: 20px;
        }
      }

      .cart__btn {
        position: absolute;
        top: 0px;
        right: 0px;
        .header__cart__btn {
          position: relative;
          width: 150px;
          height: 52px;
          background-color: $bgc;
          border-radius: 10px;
          border: none;
          padding: 0;
          outline: none;
          padding-right: 13px;
          padding-left: 24px;
          display: flex;
          align-items: center;

          .cart__btn--line {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #fff;
            margin-right: 32px;
          }

          .cart__count {
            display: flex;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: #fff;
            justify-content: center;
            align-items: center;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            color: rgba(64, 60, 59, 1);
          }

          &::after {
            content: "";
            height: 36px;
            width: 1px;
            background-color: rgba(255, 255, 255, 0.3);
            position: absolute;
            right: 49px;
            top: 7px;
          }
        }
      }
    }
  }
}
