.navbar {
  padding: 28px 80px;
  border-bottom: 1px solid rgba(133, 241, 100, 0.2);

  @media all and (max-width: 1150px) {
    padding: 28px 20px;
    // overflow-y: scroll;
  }

  @media all and (max-width: 1100px) {
    padding: 0 20px;
  }

  .navbar__menu {
    display: flex;
    justify-content: space-between;

    @media all and (max-width: 1100px) {
      height: 100px;
      align-items: center;
      overflow-x: scroll;
    }
    li {
      position: relative;
      text-align: center;

      @media all and (max-width: 1100px) {
        display: block;
        min-width: 165px;
      }
    }

    li.nav__link::after {
      transform: scale(1);
    }

    .nav__link a {
      color: #fff;
      display: inline-block;
    }

    li::after {
      content: "";
      position: absolute;
      height: 3px;
      background-color: #618967;
      left: 0;
      right: 0;
      bottom: -30px;
      transform: scale(0);
      transition: transform 220ms ease-in;
    }

    li:hover::after {
      transform: scale(1);
    }

    li a {
      color: rgba(255, 255, 255, 0.4);
      text-decoration: none;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      display: block;
    }
  }
}
